html,
body {
  height: 100%;
  padding: 0;
  background-color: #1c2025;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  height: 100%;
  background-color: #1c2025;
}
button {
  font-family: "Inter", sans-serif;
}
